<html>
	<head>
	</head>
	<body>
		<img src="https://rightarth.com/images/banner-home.jpg">
		<h1>This is your current  container list</h1> 
		 <p> {{ mm }}</p>

<form menthod='GET' action="/dock">

        <br />
       Enter the name of docker container:<input name=x type="text">
        <br />
         <br />
       Enter the port if  you want to  expose <input name=y type="number">

        <br />
	<textarea id="w3review" name="code" rows="4" cols="50">
	Enter your   code here 
	</textarea> 
        <input type="submit">

		</form>
	</body>

</html>

