  <!DOCTYPE html>
  <html>
  <head>

  <link rel="stylesheet" href="file.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>



  	<div class="container-fluid">

  <!-- navbar start -->
      
      <div clas="row">
        <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">MyArth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">  
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li>
          <a class="nav-links" href="sock.html">Chat</a>
        </li>

         <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  </div>
  </div>  

  <!-- navbar ends -->

  <div class="alert alert-dark" role="alert">
    making india future ready
   <br>
  <span href="hadoop.html" class="badge badge-primary">Hadoop</span>
  <span href="aws.html" class="badge badge-secondary">AWS</span>
  <span href="ansible.html" class="badge badge-success">ansible</span>
  <span href="kubernates.html" class="badge badge-danger">kubernates</span>
  <span href="ml.html" class="badge badge-warning">machine learning</span>
  <span href="dsa.html" class="badge badge-info">DSA</span>
  <span href="python.html" class="badge badge-light">Python</span>
  <span href="rhel.html" class="badge badge-dark">rhel</span>	

  </div>

   
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">ARTH The school of technology</h1>
      <p class="lead">Making india future ready...</p>
    </div>
  </div>  

  <!-- card row star -->
  <div class="container">
  <div class="row">
  <div class="col-md-4">

  <div class="card1">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top1" src="https://res.cloudinary.com/dtbudl0yx/image/fetch/w_2000,f_auto,q_auto,c_fit/https://adamtheautomator.com/wp-content/uploads/2019/07/prod-art-aws-600-width-1200.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">AWS services</h5>
      <p class="card-text">This is aws here you can use al most all serices os aws
      <br>
      <br>
      <a href="ec2.html">
      EC2
      </a>
      <br>
      <a href="ebs.html">
      EBS
  </a>
      <br>
      <a href="IAM.html">
      IAM
  </a>
      <br>
      <a href="more.html" >more..</a>	
      </p>
      To launch  AWS Instence fill below form

    </div>
   <ul class="list-group list-group-flush">
      <li class="list-group-item">RAM - 4GB </li>
      <li class="list-group-item">Storage - 40GB</li>
      <li class="list-group-item">CPU - 1</li>
    <div class="card-body">

      <form action="http://192.168.43.168/cgi-bin/my_cont.py">
      <br>
      <input type="text" name="x1" placeholder="Enter Os name">
       <input type="submit" name="x2" value="Launch AWS">    
  </form>
    </div>
  </div>
  </div>

  </div>
  <!-- card 2 -->
  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.eweek.com/imagesvr_ez/b2bezp/2018/10/290x195redhat1.jpeg?alias=article_heros" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">RHEL -8</h5>
      <p class="card-text">Red Hat Enterprise Linux (RHEL) is a Linux-based operating system for all services 
      provided by REDhat 
      <br>
      <br>
      <a href="Partion.html"> Partion</a>
      <br>
      <a href="tcp.html">Tcp_dump</a>
      
      <br>
      <a href="shell_script.html"> Shell scripting </a>
      <br>

  <a href="more.html" >more..</a>	
  <br>	
      To launch  Redhat OS fill below form
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">RAM - 4GB </li>		
      <li class="list-group-item">Storage - 40GB</li>
      <li class="list-group-item">CPU - 1</li>
  	  <div class="card-body">
  	  	<form action="http://192.168.43.168/cgi-bin/my_cont.py">
  	  	  <input type="text" name="x1" placeholder="Enter Os name">
  	     <input type="submit" name="x2" value="Launch RHEL">     
  </form>
    </div>
  </div>
  </div>


  <!-- card 3 -->
  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top3" src="https://appdevelopermagazine.com/images/news_images/Making-the-DevOps-DNS-Connection-App-Developer-Magazine_1yq4xr17.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">DEVOPS</h5>
      <p class="card-text">The world of automation is here now you can use and learm all most all tool and tchnology used by Devops<br>
      <br>
       <a href="docker.html">Docker</a>
      <br>
      <a href="jekins.html">Jekins</a>
      
      <br>
      <a href="ansible.html">ansible</a>
      <br>

  <a href="more.html" >more..</a> 
  <br>  
      To launch Docker OS fill below form
      </p>
   </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">RAM - 4GB </li>
      <li class="list-group-item">Storage - 40GB</li>
      <li class="list-group-item">CPU - 1</li>
    </ul>
    <div class="card-body">

    <form action="http://192.168.43.168/cgi-bin/my_cont.py">
    <input type="text" name="x1" placeholder="Enter Os name">
    <input type="submit" name="x2" value="Launch Docker">    
  </form>  
    </div>
    

  </div>
  </div>



  </div>
  </div>
  <!-- Card row1 end -->

  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

  <!-- Card row2 start -->
  <div class="container">

  <div class="row">
  <div class="col-md-4">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top1" src="https://cdn.worldvectorlogo.com/logos/hadoop.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hadoop</h5>
      <p class="card-text">Hadoop services is the most important service for big <br>
      <br>
      <a href="hadoop/hadoop_jdk.html">
      install hadoop & jdk
      </a>
      <br>
      <a href="hadoop/hadoop_setup.html">
      Configure hadoop 
      </a>
      <br>
      <a href="setup_master.html">
      Setup namenode
  </a>
      <br>
      <a href="setup_datanode.html">
      Setup datanode 
  </a>
      <br>
      <a href="more.html" >more..</a> 
      </p>
      To launch  AWS Instence fill below form

    </div>
   <ul class="list-group list-group-flush">
      <li class="list-group-item">RAM - 4GB </li>
      <li class="list-group-item">Storage - 40GB</li>
      <li class="list-group-item">CPU - 1</li>
    <div class="card-body">
      <form action="http://192.168.43.168/cgi-bin/my_cont.py">
      <input type="text" name="x1" placeholder="Enter Os name">
       <input type="submit" name="x2" value="Launch AWS">    
  </form>
    </div>
  </div>
  </div>
  <!-- card2 -->
  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Ansible_logo.svg/1200px-Ansible_logo.svg.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ANSIBLE</h5>
      <p class="card-text">Red Hat Enterprise Linux (RHEL) is a Linux-based operating system for all services 
      provided by REDhat 
      <br>
      <br>

      <a href="ansible/main_ansible.html">Anible Home page</a>
      <br>
      <a href="ansible_task.html">All task </a>
      <br>
      <a href="shell_script.html"> Shell scripting </a>
      <br>
      <a href="more.html" >more..</a> 
      <br>  
      To launch  Redhat OS fill below form
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">RAM - 4GB </li>   
      <li class="list-group-item">Storage - 40GB</li>
      <li class="list-group-item">CPU - 1</li>
      <div class="card-body">
        <form action="http://192.168.43.168/cgi-bin/my_cont.py">
          <input type="text" name="x1" placeholder="Enter Os name">
         <input type="submit" name="x2" value="Launch RHEL">     
  </form>
    </div>
  </div>
  </div>


  <!-- card 3 -->
  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <a href="docker.html"><img class="card-img-top3" src="https://appdevelopermagazine.com/images/news_images/Making-the-DevOps-DNS-Connection-App-Developer-Magazine_1yq4xr17.jpg" alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">DOCKER</h5>
      <p class="card-text">The world of automation is here now you can use and learm all most all tool and tchnology used by Devops<br>
      <br>
       <a href="docker.html">Docker</a>
      <br>
      <a href="jekins">Jekins</a>
      
      <br>
      <a href="ansible.html">ansible</a>
      <br>

  <a href="more.html" >more..</a> 
  <br>  
      To launch Docker OS fill below form
      </p>
   </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">RAM - 4GB </li>
      <li class="list-group-item">Storage - 40GB</li>
      <li class="list-group-item">CPU - 1</li>
    </ul>
    <div class="card-body">
      
    <form action="http://192.168.43.168/cgi-bin/my_cont.py">
    <input type="text" name="x1" placeholder="Enter Os name">
    <input type="submit" name="x2" value="Launch Docker">    
  </form>  
    </div>
    

  </div>
  </div>




  </div>
  </div>
  <!-- card row 2 end -->





  <div class="footer">
   this is footer section
    <!-- Site footer -->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </div>

            <div class="col-xs-6 col-md-3">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
              </ul>
            </div>

            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">About Us</a></li>
                <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#">Scanfcode</a>.
              </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>


  </div>


  </body>
  </html>



