
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.name{
			background-color: black;
			color: white;
			border:1px solid black;
		}
		
    


	</style>
	<title></title>
</head>
<body>
<img src="https://rightarth.com/images/banner-home.jpg">
<form action="/db" method='GET'>
	Enter your group name:<input name=x type=text />
	<br>
	Enter your age:<input name=y type=number />
	<br>
	Enter your remarks:<input name=z type=Text />
	<br>
	done<input type=submit />
</form >

</body>
</html>

        
